.trackingArea {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 12px auto 12px auto;
    background-image: url('img/map.png');
    overflow: visible;
}

.controlArea {
    position: relative;
    width: 600px;
    margin: 12px auto 12px auto;
    padding: 15px;
}

.centerRegionArea {
    position: absolute;
    top: 20%;
    left: 20%;
    bottom: 20%;
    right: 20%;
    background-color: #66bef2;
    opacity: 0.3;
}

.robot {
    position: absolute;
    margin-left: -12px;
    margin-top: -12px;
    width: 35px;
    height: 25px;
    transition: left 0.2s linear, top 0.2s linear, opacity 0.5s, transform 0.5s
}

.robot.happy {
    background-image: url('img/robot-happy.png');
}
.robot.angry {
    background-image: url('img/robot-angry.png');
}
.robot.neutral {
    background-image: url('img/robot-neutral.png');
}

.robot.realtime {
    transform: scale(1);
}
.robot.delayed {
    transform: scale(0.8);
    opacity: 0.3;
    transition: left 0.5s linear, top 0.5s linear, opacity 0.5s, background-color 0.5s, transform 0.5s
}